<div class="content">
	<hr/>
	<form id="formLogin">
		<label for="login" class="config">Login</label>
		<input class="form-control bordas" type="text" id="login" ng-model="usuario.login" placeholder="Login">
		<label for="password" class="config">password</label>
		<input class="form-control bordas" type="password" id="password" ng-model="usuario.password" placeholder="password">
		<button class="btn btn-primary btn-block" ng-click="verificarUsuario()" ng-required="form1.$invalid">Entrar</button>
	</form>
</div>